.main_heading {
  max-width: 645px;
  line-height: 130%;
  padding-top: 60px;
}
.hero_bg {
  background-image: url("../images/header-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.aboutus_bg {
  background-image: url("../images/about-us-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_para {
  max-width: 872px;
  margin-left: auto;
  margin-right: auto;
  line-height: 190%;
}
.nav_bar {
  max-width: 1182px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 21px;
  border-radius: 134px;
}
.page_logo {
  width: 71px;
  height: 71px;
}

.video_section {
  max-width: 383px;
  margin: 0 auto;
}

/* ------------ navbar ------------ */
.page_logo {
  height: 40px;
}

.navbar-nav li.nav-item {
  padding-right: 50px;
}

.navbar-nav li.nav-item:last-child {
  padding-right: 0;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #070707;
  padding: 8px 0;
}

/* Custom Toggle Button */
.custom-toggler {
  border: none;
  background: transparent;
  font-size: 24px;
}

.custom-toggler-icon {
  color: #000;
  font-weight: bold;
}
.navbar-brand {
  min-height: 70px;
}

.nav_btn_img {
  max-width: 24px;
  min-height: 24px;
}
.nav_btn {
  padding: 16px 38px 16px 38px;
  border-radius: 394px;
  width: 181px;
  height: 56px;
  border: 2px solid var(--color-light-green);
  color: white;
  transition: 300ms linear;
}
.mob_nav_btn {
  padding: 10px 24px 10px 24px;
  border-radius: 394px;
  width: 100px;
  height: 46px;
  border: 2px solid var(--color-light-green);
  color: white;
  transition: 300ms linear;
}
.nav_btn:hover {
  background-color: white;
  color: var(--color-light-green);
}

/* Mobile Nav Sidebar */
.mobile-nav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  transition: left 0.3s ease-in-out;
}

/* Show when active */
.mobile-nav.active {
  left: 0;
}

/* Close Button */
.close-btn {
  font-size: 30px;
  border: none;
  background: transparent;
  padding: 15px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

/* Custom toggle button */
.custom-toggler {
  border: none;
  background: transparent;
  font-size: 24px;
}

.custom-toggler-icon {
  color: #000;
  font-weight: bold;
}

/* Nav links */
.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #070707;
  padding: 12px 0;
}

.left_man_cow {
  position: absolute;
  left: 32%;
  min-height: 118px;
  z-index: 1;
  max-width: 132px;
  bottom: 0%;
}

.about_top_layer {
  top: -8%;
}
.right_cow_boy {
  bottom: -3%;
  max-width: 326px;
  min-height: 249px;
}
.left_cow {
  left: 12%;
  bottom: -19%;
}
.right_cow {
  right: 30%;
  bottom: -12%;
}

.mw-1172 {
  max-width: 1172px;
}
.mt-136 {
  margin-top: 136px;
}
